In [ ]:
#ans 1
#A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
list1=[1,5,2,6,8,9]
list1.reverse()
print(list1)

In [ ]:
#ans2
list2 = [5,6,8,9,7,2]
list2.pop()
print(list2)

In [ ]:
#ans3
list1 = [2,33,222,14,25]
list1[-1]
#ans is 25.

In [1]:
#ans4

#append = Adds element at the last index.
#example
list1 = [1,5,2,6]
list1.append('nitin')
print(list1)
#extend = adds iterable at the last index.
#example
list2 = [5,6,8,9]
list2.extend('nitin')
print(list2)

[1, 5, 2, 6, 'nitin']
[5, 6, 8, 9, 'n', 'i', 't', 'i', 'n']

In [2]:
#ans5
# 1.get the largest number
list1 =[5,6,9,8,55,22,66,42,36]
list1.sort()
print('largest number',list1[-1])
print('smallest number',list1[0])

largest number 66
smallest number 5

In [3]:
#ans6
list1=[1,2,5,6]
list2=[1,2,5,6]
if list1==list2:
    print('list1 cand list2 are equal')
else:
    print('list1 and list2 are not equal')

list1 cand list2 are equal

In [4]:
#ans7
listt = ['nitin','saini','student','nn','n']
for i in listt:
    if len(i)>=2:
        if i[0]==i[-1]:
            print(i)

nitin
nn

In [5]:
#ans8
list1=[1,5,8,9,9,9,9,3,5]
set(list1)

{1, 3, 5, 8, 9}

In [6]:
#ans9
list1 = []
if len(list1)==0:
    print('list is empty')
else:
    print('list is not empty')

list is empty

In [ ]:
#ans10
list1 = [1,2,6,7,3,4,8,9,10,55]
list2 = [1,6,7,9,2,3,4,8,10,55]
ans = False
for i in list1:
    if i in list2:
        continue
    else:
        print(ans)
        break
else:
    ans = True
    print(ans)

In [ ]:
#ans11
listtt = [1,2,3,4,5,26,27,28,29,30]
for i in listtt:
    a = (i**i)
    print(a)

In [ ]:
#ans12
list1 = [5,2,8,9,5,5,5,6,6,6,6,7,7,7]
list2 = set(list1)
x = list(list2)
print(x)

In [ ]:
#ans13

list1 = ['n', 'i', 't', 'i', 'n']
str1 = ''
for i in list1:
    str1 += i
print(str1)

In [ ]:
#ans14
list1 = [1,8,9,5,66,88,75,95]

#sir x

In [ ]:
#ans15
list1 = [5,6,8,9,88,2,1,5,1]
list1.sort()
print(list1[1])

In [ ]:
#ans16
list1_list1 = [5,6,5,6,5,9,5,8,55,6,9,5,8,5,5,5]
list2_list2 = set(list1_list1)
print(list2_list2)

In [ ]:
#ans17
list1 = ['nitin',{1,2,5,6},[1,5,6,6],50,5.0]
for i in list1:
    if type(i)==list:
        print(i,'true')
        break
else:
    print('false')

In [20]:
#ans18
listt = [1,2,3,4,5,6,7,8,9,10]
list1 = listt[:5]
list2 = listt[-5:]
print(list1,list2)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

In [ ]:
#ans19
#tuple:- ordered,indexed,immutable,allow duplicate values, u can store almost all datatypes.

#Difference btw tuple ans list:-
#list:-A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
##tuple:- ordered,indexed,immutable,allow duplicate values, u can store almost all datatypes

In [ ]:
#ans20
tuple1 = (15,5.0,[1,2,3],{1,5,6},{1:2,2:3},'nitin',True,(1,5,6))
print(tuple1)

In [ ]:
#ans21
tuple1 = 5,10,23,20
print(tuple1)

In [ ]:
#ans22
tuplee = ('n', 'i', 't', 'i', 'n')
str1 = ''
for i in tuplee:
    str1 += i
print(str1)

In [7]:
#ans23
tuple_1 = (5,8,9,6,3,'n','t')
print(55 in tuple_1)

False

In [ ]:
#ans24
tuple1 = (1,5,8,9,6,8,'nitin',[1,5,6,2])
len(tuple1)

In [ ]:
#ans25
list1 = [1,5,8,9,5,6,'nitin']
tuple1 = tuple(list1)
print(tuple1)

In [ ]:
#ans26
tuple1 = (1,5,9,'ns',56,5.2)            
a = list(tuple1)
a.reverse()
b = tuple(a)
print(b)

In [9]:
#ans27
list1 = [(34,45,56),(5,7),(90,34),(12,34,45),(5,6,7),(5,67,6)]
idx= 0 
for i in list1:
    i = list(i)
    i[-1] = 100
    t1 = tuple(i)
    list1[idx] = t1
    idx+=1
print(list1)

[(34, 45, 100), (5, 100), (90, 100), (12, 34, 100), (5, 6, 100), (5, 67, 100)]

In [ ]:
#ans28
tuplee = (1,5,5,6,6,8,9,9)
tuplee.count(8)

In [21]:
#ans29
tuplee = [('nitin',),(),(),('iii',),(),(),(2,5,6,4)]
list1 = []
for i in tuplee:
    if len(i) != 0:
        list1.append(i)
    
print(list1)

[('nitin',), ('iii',), (2, 5, 6, 4)]

In [ ]:
#ans30
a,b,c = (55,88,90)
print(a,b,c)       #tuple unpacking(unzip)

In [ ]:
#ans31
tuplee1 = [(50,5),(66,6),(70,7)]
list2 = dict(tuplee1)
print(list2)

In [11]:
#ans32
tuple1 = (('a', 10), ('b', 20), ('c', 30))
dict(tuple1)

{'a': 10, 'b': 20, 'c': 30}

In [44]:
#ans33
dict1 = {'a':90,'b':50,'c':-5,'d':2}
d1 = dict(sorted(dict1.items(),key = lambda a : a[1]))
d2 = dict(sorted(dict1.items(),key = lambda a : a[1],reverse = True))
print('ascending',d1,'descending',d2,sep = '\n')

ascending
{'c': -5, 'd': 2, 'b': 50, 'a': 90}
descending
{'a': 90, 'b': 50, 'd': 2, 'c': -5}

In [45]:
#ans34
dict1 = {1:5,5:2}
dict2 = {2:10,3:6}
dict3 = {}
for d in (dict1,dict2):
    dict3.update(d)
print(dict3)

{1: 5, 5: 2, 2: 10, 3: 6}

In [ ]:
#ans35
dictt = {'a':5,'b':6,'c':7,'d':8}
key   = input()
if key in dictt.keys():
    print(key,'already exists')
else:
    print(key,'does not exists')

In [6]:
#ans36
dict1 = {'a':90,'b':50,'c':-5,'d':2}
for i in dict1:
    print(i)

a
b
c
d

In [ ]:
#ans37
dictt = {'a':5,'b':6,'c':7,'d':8}
key   = input()
if key in dictt.keys():
    print(key,'present')
else:
    print(key,'not present')

In [16]:
#ans38
dict1 = dict()
for i in range(1,16):
    dict1[i] = None
print(dict1)

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 12: None, 13: None, 14: None, 15: None}

In [ ]:
#ans39

In [ ]:
#ans40
dict1 = {1:2,3:4,5:6}
dict2 = {7:8,9:10,11:12}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

In [46]:
#ans41
list1 = ['nitin','ankit','pranav']
list2 = [1,2,3]
dict1 = dict(zip(list1,list2))
print(dict1)

{'nitin': 1, 'ankit': 2, 'pranav': 3}

In [1]:
#ans42
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
d3 = {}
for key in d1:
    if key in d2:
        d3[key] = d2[key]+d1[key]             #sir se puchna h

print(d3)

{'a': 400, 'b': 400}

In [17]:
#ans43
dict1 = {'a':1,'b':2,'c':2,'d':4}
dict2 = set (dict1.values())
print(dict2)

{1, 2, 4}

In [18]:
#ans44
# ans = to bind object of multiple collection.

In [ ]:
#ans45